.create-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.create-company-id,.create-company-name,.create-address,.create-coordinates,.create-latitude,.create-longitude,.create-button{
  padding: 10px 10px 10px 0px;
  margin-left: 200px;
}
.create-form-container{
background-color: aqua;
width: 700px;
height: 400px;
border-radius: 5px;

}
.create-button>input{
 border: none;
 background-color: black;
 color: white;
 width: 100px;
 height: 50px;
 display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border-radius: 5px;
position: absolute;
}
.create-button>input:hover{
  background-color: white;
  color: black;
}