.show-company-table{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  color: white;
  /* position: absolute; */
}
.head{
 margin-top: 60px;
}
.head tr th:not(:first-child){
  padding-left: 400px;
}
.table-body tr th:not(:first-child){
padding-left: 0px;
margin-left: 20px;
}
