.get-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.get-company-id,.get-button{
  padding: 20px 20px 0px 0px ;
}
.get-form-container{
  background-color: aqua;
  width: 1000px;
  height: 400px;
  border-radius: 5px;
}
.get-form-container>h3{
margin-left: 20px;
}
.get-button>input{
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 border-radius: 5px;
 position: absolute;
}
.get-button>input:hover{
  background-color: white;
  color: black;
}
.get-show-details{
  position: absolute;
  margin-left: 400px;
  background-color: white;
  width: 400px;
}
.get-show-company-id,.get-show-company-name,.get-show-company-address,.get-show-company-latitude,.get-show-company-longitude{
  font-size: 15px;
  font-weight: 100;
}
.get-show-company-id,.get-show-company-name,.get-show-company-address,.get-show-company-latitude,.get-show-company-longitude{
  margin-top: 10px;
  margin-left: 10px;
}
.get-company-id{
  margin-left: 20px;
}