.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  padding: 100px;
  background-color: black;
  height: 50vh;
  width: 500px;
  border-radius: 10px;
}
.company-id,.button{
  padding: 20px 20px 0px 0px ;
}
.form-container{
  background-color: aliceblue;
  margin-top: -45px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 90px;
}
.form-container>h3{
 margin-left: 60px;
}
.button>input{
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  width: 100px;
  margin-left: 90px;
  border-radius: 10px;
}
.button>input:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.show-details{
  background-color: white;
  border-radius: 10px;
  margin-top: 220px;
  color: black;
  width: 450px;
  height: 200px;
  position: absolute;
}
.show-company-id,.show-company-name,.show-company-address,.show-company-latitude,.show-company-longitude{
  font-size: 19px;
  font-weight: 100;
}
.show-company-id,.show-company-name,.show-company-address,.show-company-latitude,.show-company-longitude{
  margin-top: 10px;
  margin-left: 10px;
}