.migrate-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.migrate-email-id,.migrate-button{
  padding: 20px 20px 0px 0px ;
}
.migrate-company-id,.migrate-button{
  padding: 20px 20px 0px 0px ;
}
.migrate-form-container1{
  background-color: aqua;
width: 400px;
height: 300px;
margin-left: 80px;
border-radius: 5px;
}
.migrate-form-container2{
  background-color: aqua;
  margin-left: 300px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.migrate-button>input{
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  width: 100px;
  margin-left: 90px;
  border-radius: 10px;
}
.migrate-button>input:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.migrate-email-id{
  margin-left: 20px;
}

.migrate-company-id{
  margin-left: 20px;
}

.migrate-delete-button{
  margin-top:450px;
  margin-left:-725px;
  border:1px solid white;
  background-color:black;
  width:200px;
  border-radius:10px;
}
.migrate-delete-button:hover{
  border:1px solid white;
  background-color:black;
  cursor:pointer;
  color: white;
}

.migrate-button1>input{
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  width: 100px;
  margin-left: 90px;
  border-radius: 10px;
}