.update-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.update-company-id,.update-company-name,.update-address,.update-coordinates,.update-latitude,.update-longitude,.update-button{
  padding: 20px 20px 0px 0px ;
}
.update-form-container{
  background-color: aqua;
  margin-top: 100px;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  margin-left: 370px;
}
.update-button>input{
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  width: 100px;
  margin-left: 300px;
  border-radius: 10px;
}
.update-button>input:hover{
 
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}