.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.email-id,.button{
  padding: 20px 20px 0px 0px ;
}
.form-container{
  background-color: aqua;
  width: 1000px;
  height: 400px;
  border-radius: 5px;
}
.form-container>h3{
 margin-left: 160px;
}
.button>input{
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  width: 100px;
  margin-left: 330px;
  border-radius: 5px;
}
.button>input:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.navigation-link{
  margin-top: 250px;
  margin-left: 850px;
  position: absolute;
}
.username,.email-id{
  margin-left: 370px;
}
.button{
  margin-left: 110px;
}
.username{
  margin-top: 50px;

}