.get-user-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.get-user-email-id,.get-user-button{
  padding: 20px 20px 0px 0px ;
}
.get-user-form-container{
  background-color: aqua;
  width: 1000px;
  height: 400px;
  border-radius: 5px;
}
.get-user-form-container>h3{
  margin-left: 20px;
}
.get-user-button>input{
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
  margin-left: 200px;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 border-radius: 5px;
 position: absolute;
}
.get-user-button>input:hover{
  background-color: white;
  color: black;
}
.get-user-show-details{
  position: absolute;
  margin-left: 400px;
  background-color: white;
  width: 500px;
  height: 150px;
}
.get-user-show-first-name,.get-user-show-last-name,.get-user-show-email,.get-user-show-designation,.get-user-show-dob,.get-user-show-active{
  font-size: 12px;
  font-weight: 100;
}
.get-user-show-first-name,.get-user-show-last-name,.get-user-show-email,.get-user-show-designation,.get-user-show-dob,.get-user-show-active{
  margin-top: 20px;
  margin-left: 10px;
}
