.nav-container{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width:60px;
height: 100vh;
position: fixed;
margin-top:0;
}
p{
  text-align: left;
  padding-left: 10px;
  padding-top: 15px;

  /* display: inline; */
}
a{
  text-decoration: none;
  color: white;
  padding: 12px;
  font-size: 14px;
}
nav{
  margin-top: 10px;
  position: absolute;
}

button{
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 25px;
  padding-top: 15px;
  font-size: 15px;
}
.active{
  background-color: black;
  color: white;
}